# Project information
site_name: MSE Outreach 
repo_name: https://github.com/nrdavid/MSE-Outreach
site_description: Official web page of MSE Outreach at the University of Michigan - Ann Arbor. 
site_author: Gillian James, Nicholas David & Jason Landini

# Repository
repo_name: nrdavid/MSE-Outreach
repo_url: https://github.com/nrdavid/MSE-Outreach

# Copyright
copyright: Copyright &copy; 2024 -

# Plugins
plugins:
  - search
  - glightbox
  - git-committers:
      repository: nrdavid/MSE-Outreach
      branch: main
      token: "dummy"
  - git-revision-date-localized:
      enable_creation_date: true

# Theme
theme:
  name: material
  # used to override partials like footer and copyright
  custom_dir: overrides
  features:
    - announce.dismiss
    - content.action.edit
    - content.action.view
    - content.code.annotate
    - content.code.copy
    - content.code.select
    # - content.footnote.tooltips
    # - content.tabs.link
    - content.tooltips
    # - header.autohide
    # - navigation.expand
    - navigation.footer
    - navigation.indexes
    # - navigation.instant
    # - navigation.instant.prefetch
    # - navigation.instant.progress
    # - navigation.prune
    # - navigation.sections
    # - navigation.tabs
    # - navigation.tabs.sticky
    # - navigation.top
    - navigation.tracking
    - search.highlight
    - search.share
    - search.suggest
    # - toc.follow
    # - toc.integrate
  palette:
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/link
        name: Switch to light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: amber
      accent: amber
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: amber
      toggle:
        icon: material/toggle-switch-off
        name: Switch to system preference
  font:
    text: Roboto
    code: Roboto Mono
  #favicon: assets/favicon.png
  logo: assets/logo.png
  icon:
    logo: logo
    annotation: material/plus-circle

# Additional configuration
extra:
  # line below removes "Made with Material for MkDocs" footer line
  # generator: false
  status:
    new: Recently added
    deprecated: Deprecated
  # social:
    # - icon: material/web
    #   link: https://whsunresearch.group/

# Extensions
markdown_extensions:
  - abbr
  - admonition
  - attr_list
  - def_list
  - footnotes
  - md_in_html
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.betterem:
      smart_enable: all
  - pymdownx.caret
  - pymdownx.details
  - pymdownx.emoji:
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      emoji_index: !!python/name:material.extensions.emoji.twemoji
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
      auto_title: true
  - pymdownx.inlinehilite
  - pymdownx.keys
  - pymdownx.magiclink:
      normalize_issue_symbols: true
      repo_url_shorthand: true
      user: nrdavid
      repo: MSE-Outreach
  - pymdownx.mark
  - pymdownx.smartsymbols
  - pymdownx.snippets:
      auto_append:
        - includes/mkdocs.md
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.tabbed:
      alternate_style: true
      combine_header_slug: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.tasklist:
      custom_checkbox: true
  - pymdownx.tilde

# Page tree
nav:
  - Home: index.md

  - About Us:
    - Who Are We?: 'about_us/who_are_we.md'
    - Contact Us: 'about_us/contact_us.md'

  - Classroom Demos (1-2 hrs):
    - Battery Lab: 'classroom_demos/battery_lab.md'
    - Chocolate Tempering: 'classroom_demos/chocolate_tempering.md'
    - Crystal Growth: 'classroom_demos/crystal_growth.md'
    - Hydrogels: 'classroom_demos/hydrogels.md'

  - Shorter MSE Demos (5-15 mins):
    - Tempering Bobby Pins: 'smaller_demos/tempering_bobby.md'